<div class="main">
  <h1>Frequently Asked Questions</h1>
  <div *ngFor="let quest of questList" class="faq-item">
      <p class="faq-page" (click)="toggleAnswer(quest.ques)" [ngClass]="{'active': faqVisibility[quest.ques]}">
          {{ quest.ques }}
         
          <span class="icon-container">
            <mat-icon class="help-icon" svgIcon="{{ faqIconState[quest.ques] }}"></mat-icon>
          </span>
      </p>
      <div class="faq-body" [style.display]="faqVisibility[quest.ques] ? 'block' : 'none'">
          <p>{{ quest.ans }}</p>
      </div>
    
      
  </div>
</div>
