.div {
    background-image: url('../../assets/images/dashboard_img_1.png'); 
    background-repeat: no-repeat; 
    height: 80vh;
    width: 100vw;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
}

.heading {
    font-family: 'Merriweather'; 
    font-size: xx-large; 
    font-weight: bold;
    padding: 5px;
}
.description{
    font-family:'Inter';
    font-size: medium; 
    padding: 2vh;
    font-weight: 600;
}

.button {
    margin-top: 2vh;
    padding:3vh 4vw 3vh 4vw  !important;
}