<div class="div">
    <div class="centered">
        <div class="heading">CRAFTING SMILES, </div>
        <div class="heading">ONE TIFFIN AT A TIME</div>
        <div class="description">
            Where culinary passion meets the joy of pure vegetarian
            flavours. Experience the essence of home-cooked
            goodness, delivered fresh to your doorstep.
        </div>
        <button mat-flat-button class="button" color="primary">Get Started</button>
    </div>
</div>

<!-- <div class="div">
    <img class="image" src="../../assets/images/dashboard_img_1.png">
    <div class="centered">
        <div class="heading">CRAFTING SMILES, </div>
        <div class="heading">ONE TIFFIN AT A TIME</div>
        <div class="description">
            Where culinary passion meets the joy of pure vegetarian
            flavours. Experience the essence of home-cooked
            goodness, delivered fresh to your doorstep.
        </div>
        <button mat-flat-button color="primary">Get Started</button>
    </div>
</div> -->