<div class="outer-div">
    <div class="top-div">
        <div class="top-left-div">
            <mat-icon svgIcon="app-icon" class="app-icon-background"></mat-icon>
        </div>
        <div class="top-right-div">
            <table>
                <tr>
                    <td><a>Order Now</a></td>
                    <td><a>Contact Us</a></td>
                    <td><a>Company</a></td>
                </tr>
                <tr>
                    <td><a>Menu</a></td>
                    <td><a>FAQs</a></td>
                    <td><a>About Us</a></td>
                </tr>
                <tr>
                    <td><a>Gifts</a></td>
                    <td><a>Help & Contact</a></td>
                    <td><a>Our Team</a></td>
                </tr>
                <tr>
                    <td><a>How it Works</a></td>
                </tr>
                <tr>
                    <td><a>Refund Policy</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bottom-div">
        <div class="bottom-left-div">
            <div class="description">Get updates and notifications</div>
            <div>
                <input class="email-input" type="email" placeholder="Enter email">
                <button color="primary" mat-flat-button>Submit</button>
            </div>
        </div>
        <div class="bottom-left-div">
            <div class="description">Download our app for exclusive discounts!</div>
            <div>
                <a><mat-icon svgIcon="app-store" class="download-icon"></mat-icon></a>
                <a><mat-icon svgIcon="google-play" class="download-icon"></mat-icon></a>
            </div>
        </div>
        <div class="bottom-left-div">
            <div class="description">Follow Us</div>
            <div>
                <a><mat-icon svgIcon="instagram" class="social-icon-background"></mat-icon></a>
                <a><mat-icon svgIcon="linkedin" class="social-icon-background"></mat-icon></a>
                <a><mat-icon svgIcon="facebook" class="social-icon-background"></mat-icon></a>
            </div>
        </div>
    </div>
</div>