<div class="outer-div">
    <div class="top-div">
        <div class="top-left-div">
            <mat-icon svgIcon="app-icon" class="app-icon-background"></mat-icon>
        </div>
        <div class="top-right-div">
            <table>
                <tr>
                    <td><button mat-button>Order Now</button></td>
                    <td><button mat-button>Contact Us</button></td>
                    <td><button mat-button>Company</button></td>
                </tr>
                <tr>
                    <td><button mat-button>Menu</button></td>
                    <td><button mat-button>FAQs</button></td>
                    <td><button mat-button>About Us</button></td>
                </tr>
                <tr>
                    <td><button mat-button>Gifts</button></td>
                    <td><button mat-button>Help & Contact</button></td>
                    <td><button mat-button>Our Team</button></td>
                </tr>
                <tr>
                    <td><button mat-button>How it Works</button></td>
                </tr>
                <tr>
                    <td><button mat-button>Refund Policy</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bottom-div">
        <div class="bottom-left-div">
            <div class="description">Get updates and notifications</div>
            <div>
                <input class="email-input" type="email" placeholder="Enter email">
                <button color="primary" mat-flat-button>Submit</button>
            </div>
        </div>
        <div class="bottom-left-div">
            <div class="description">Download our app for exclusive discounts!</div>
            <div>
                <a><mat-icon svgIcon="app-store" class="download-icon"></mat-icon></a>
                <a><mat-icon svgIcon="google-play" class="download-icon"></mat-icon></a>
            </div>
        </div>
        <div class="bottom-left-div">
            <div class="description">Follow Us</div>
            <div>
                <a><mat-icon svgIcon="instagram" class="social-icon-background"></mat-icon></a>
                <a><mat-icon svgIcon="linkedin" class="social-icon-background"></mat-icon></a>
                <a><mat-icon svgIcon="facebook" class="social-icon-background"></mat-icon></a>
            </div>
        </div>
    </div>
</div>