<div class="section">
    <div class="section-header">
      <div class="container">
        <h2>Contact Us</h2>
        <p>Hungry for a Chat? Reach Out and Let's Tiffin Together!</p>
      </div>
    </div>

    <div class="details">
      <div class="row">
        <div class="contact-info">
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <img src="../../assets/images/icons8-home-50.png" height="21px"  alt="">
            </div>
            <div class="contact-info-content">
              <h4>Address</h4>
              <p>501, A1 leisure town, Hadapsar- 411028 Pune,Maharashtra</p>
            </div>
          </div>

          <div class="contact-info-item">
            <div class="contact-info-icon">
              <img src="../../assets/images/phone-ringing (2).png"  alt="">
            </div>
            <div class="contact-info-content">
              <h4>Phone</h4>
              <p>+91 9530077899<br>
                +91 7906773343</p>
            </div>
          </div>

          <div class="contact-info-item">
            <div class="contact-info-icon">
              <img src="../../assets/images/envelope.png"  alt="">
            </div>
            <div class="contact-info-content">
              <h4>Email</h4>
              <p>Contact@tiffsy.com</p>
            </div>
          </div>
        </div>
      </div>

      <div class="founders">
        <div class="parent-div">
          <div class="pic-div">
            <div class="picture">
              <img class="customer-img" src="../../assets/images/avinavjain.jpg" alt="">
          </div>
          </div>
          <div class="colored-div">
            <div class="title" style=" padding-top: 0vw;">Avinav Jain</div>
            <div class="designation">Co-Founder</div>
           
            <div class="review">Partners@tiffsy.com</div> 
          </div>
        </div>

        <div class="parent-div">
            <div class="pic-div">
              <div class="picture">
                <img class="customer-img" src="../../assets/images/rajchordia.jpg" alt="">
            </div>
            </div>
          <div class="colored-div">
            <div class="title" style=" padding-top: 0vw;">Raj Chordia</div>
            <div class="designation">Co-Founder</div>
            
             <div class="review">Partners@tiffsy.com</div> 
          </div>
        </div>
      </div>
    </div>
  </div>