body {
  margin: 0;
  padding: 0;
}

.section {
  position: relative;
  padding-top: 0.4vh;
  font-family: 'Merriweather';
  height: 97.3%;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #2E2E2E;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #4E4E4E;
  font-size: 1.2em;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 90vw;
}

.founders {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 90vw;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 23vw;
}

.contact-info-icon {
  height: 12vh;
  width: 23%;
  text-align: center;
  background-color: #FFBE1D;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.contact-info-icon img {
  height: 3vw;
}

.contact-info-content {
  text-align: left;
  width: 70%;
}

.contact-info-content h4 {
  color: #2E2E2E;
  font-size: 1.4em;
  margin-bottom: 1vw;
  margin-top: 0;
}

.contact-info-content p {
  color: #4E4E4E;
  font-size: 1em;
}

.founders {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.parent-div {
  height: auto;
  width: 16vw;
  background-color: #FFFAEC;
  margin-right: 3vw;
  padding-top: 1vw;
  box-shadow: 0px 6px 24px 0px #100e071f;
  border-radius: 14px;
}

.picture {
  height: 80%;
  width: 68%;
  border-radius: 50%;
  overflow: hidden;
}

.pic-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26vh;
}

.customer-img {
  height: 50vh;
}

.picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title {
  font-family: 'Inter';
  font-size: medium;
  font-weight: 600;
  color: #2E2E2E;
}

.designation {
  font-family: 'Inter';
  font-size: small;
  font-weight: 400;
  color: #4E4E4E;
}

.quote {
  padding: 1vw;
  color: #2E2E2E;
}

.review {
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: 'Inter';
  font-size: small;
  font-weight: 400;
  text-align: center;
  color: #4E4E4E;
}
.detail-icon{
  width: 2.4vw;
}

@media (max-width: 890px) and (min-width: 520px) {
  .title {
    padding-top: 9vw;
  }
}

@media (max-width: 520px) {
  .title {
    padding-top: 12.5vw;
  }
}

@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .contact-info-item {
    width: 70vw;
    margin-bottom: 20px;
  }

  .contact-info-icon {
    width: 10vw;
    height: 10vh;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .founders {
    flex-direction: column;
    align-items: center;
  }

  .parent-div {
    width: 50vw;
    margin-bottom: 20px;
  }
  .detail-icon{
    width: 3.6vw;
  }
}

@media (max-width: 1000px) {
  .picture {
    height: 48%;
    width: 48%;
  }
 
  .customer-img {
    height: 20vh;
  }
}
