<div class="section">
    <div class="flex-fill">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div class="heading">Download the Tiffsy App for exclusive discounts</div>
            <div style="display: flex; flex-direction: row; justify-content:space-between ;">
                <mat-icon svgIcon="google-play" style="transform: scale(5);"></mat-icon>
                <mat-icon svgIcon="app-store" style="transform: scale(5); margin-left: 10vw;"></mat-icon>
            </div>
        </div>
    </div>
    
    <div class="flex-fill" >
        <img src="../../assets/images/download_mockup_1.png" style="margin-top: 0; width: 24vw; height: auto;">
    </div>
    <div class="flex-fill" >
        <img src="../../assets/images/download_mockup_2.png" style="position: absolute; bottom: 0; width: 24vw; height: auto;">
    </div>
</div>
