<div class="section">
    <div class="content">
        <div class="heading">Download the Tiffsy App for exclusive discounts</div>
        <div class="download-icons-div">
            <mat-icon svgIcon="google-play" class="download-icon"></mat-icon>
            <mat-icon svgIcon="app-store" class="download-icon"></mat-icon>
        </div>
    </div>
    <!-- <div><img src="../../assets/images/download_mockup_1.png" class="mockup-top"></div> -->
    <div><img src="../../assets/images/download_mockup_2.png" class="mockup-bottom"></div>
</div>
