.section {
    height: 60vh;
    width: 100vw;
    background-color: #FFBE1D;
    display: flex;
    flex-direction: row;
    padding-left: 4vw;
    padding-right: 4vw;
    position: relative;
}

.heading {
    font-family: 'Merriweather'; 
    font-size: xx-large; 
    font-weight: bold;
    padding-top: 8vh;
    padding-bottom: 8vh;
    max-width: 36vw;
}