<div>
    <mat-toolbar class="toolbar" color="primary">
      <div>
        <button class="toolbar-button-left" mat-button>Menu</button>
        <button class="toolbar-button-right" mat-button>About Us</button>
      </div>
      <div>
        <mat-icon class="toolbar-icon" svgIcon="tiffsy"></mat-icon>
      </div>
      <div>
        <button class="toolbar-button-left" mat-button>Gifts</button>
        <button class="toolbar-button-right" mat-stroked-button style="border: 2px solid black !important;">Login</button>
      </div>
    </mat-toolbar>
  </div>
  