<div class="section">
    <div class="heading">Today's Special Menu</div>
    <div class="cards-layout">
        <app-image-card image_name="veg_biryani.png" title="Veg Biryani" description="Description of the Dish and other details."></app-image-card>
        <app-image-card image_name="dal_chapati.png" title="Dal Chapati" description="Description of the Dish and other details. Description of the Dish and other details."></app-image-card>
        <app-image-card image_name="deluxe_thali.png" title="Deluxe Thali" description="Description of the Dish and other details."></app-image-card>
    </div>
    <div class="explore-button">
        <button mat-flat-button class="button" color="primary">Explore Menu</button>
    </div>
</div>
