<div style="overflow: hidden;">
    <div class="main-div">
        <div class="left-div">
            <div class="heading">
                Log in or Sign up
            </div>
            <div>
                <select>
                    <option value="+1">+1 (USA)</option>
                    <option value="+44">+44 (UK)</option>
                </select>
                <input type="text" placeholder="Enter phone number">
            </div>
            <div>
                <button mat-flat-button color="primary">Continue</button>
            </div>
            <div class="separator">
                <span>or</span>
            </div>
            <div>
                <button>Continue with Google Account</button>
            </div>

        </div>
        <div>
            <img src="../../assets/images/Eating-healthy.png">
        </div>
    </div>
</div>