.main-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: 3vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 7vh;
}

.heading {
  font-family: 'Merriweather';
  font-size: 2.3vw;
  font-weight: bold;
  padding: 1vh;
  margin-bottom: 4vh;
  width: 25vw;
  height: 4.5vh;
  font-weight: bold;
  margin-bottom: 8vh;
}

.separator-container {
  text-align: center;
}

.separator {
  border-top: 0.2vh solid #ccc;
  margin: 3vh 0;
  width: 15vw;
  display: inline-block;
  vertical-align: middle;
}

.sep-or {
  background-color: white;
  margin: 2.5vh;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.2vw;
}

.combined-input {
  display: flex;
  align-items: center;
  border: 0.1vw solid #ccc;
  border-radius: 0.7vw;
  overflow: hidden;
  height: 6vh;
  width: 35vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-size: 1.4vw;
}

input:focus {
  outline: none;
  box-shadow: none;
}

select:focus {
  outline: none;
  box-shadow: none;
}

.combined-input select {
  border: none;
  padding-left: 0.3vw;
  box-sizing: border-box;
 
 
}

.combined-input input {
  border: none;
  padding: 0.8vw;
  box-sizing: border-box;
 
}

.custom-select {
  width: 30%;
  box-sizing: border-box;
}

.custom-input {
  flex: 1;
  box-sizing: border-box;
}

.btn {
  height: 6vh;
  width: 35vw;
  padding: 1.6vh 6vw 1.6vh 6vw;
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
  font-size: 1.1vw;
  font-weight: bold;
  border-radius: 0.7vw;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  color: black;
  background-color: white;
  cursor: pointer;
}

.google-button svg {
  margin-right: 1vw;
}

.btn svg {
  margin-right: 1vw;
}

.right-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-div img {
  width: 100%; 
}

@media (max-width: 768px) {
  .main-div {
    grid-template-columns: 1fr;
    margin-top: 5vh;
  }

  .heading{
    margin-bottom: 2vh;
    font-size: 3.7vw;
    width: 40vw;
  }
  .combined-input{
    font-size: 2.5vw;
  }

  .right-div img {
    width: 70%; 
  }
  .btn{
    width: 70vw;
    font-size: 2.6vw;
  }
  .combined-input{
    width: 70vw; 
    font-size: 2.5vw;
  }
  .separator{
    width: 29vw;
  }
  .sep-or {
    font-size: 2.5vw;
  }
  .help-icon{
    height: 3vh;
  }
}
