<div style="overflow: hidden;">
    <app-header></app-header>
    <div class="heading">How it Works</div>
    <div class="cards-layout">
        <app-image-card image_name="guide_img_1.png" title="Choose your meal"></app-image-card>
        <app-image-card image_name="guide_img_2.png" title="Meal ready in minutes"></app-image-card>
        <app-image-card image_name="guide_img_3.png" title="We deliver best quality"></app-image-card>
        <app-image-card image_name="guide_img_4.png" title="Easy refund policies"></app-image-card>
    </div>
    <div class="explore-button">
        <button mat-flat-button class="button" color="primary">Let's Go</button>
        <div class="description">Skip, pause or cancel anytime</div>
    </div>
    <app-today-menu></app-today-menu>
    <app-download-tiffsy></app-download-tiffsy>
    <app-customer-reviews></app-customer-reviews>
    <app-order-now-homepage></app-order-now-homepage>
</div>